<% layout('../partials/layout') -%>
<% stylesheet('/assets/css/customizer.css') -%>
<% script('/assets/js/orderdetails.js') -%>
<% 
    const patternArray=["Berry Pink Twill", "Cocoa Checks", "Royal Blue Polka Dot", "Sunset Stripes"];
    const materialArray=["Giza Cotton", "Linen", "Cotton Lycra Blend"];
    const sleeveArray=["Full Sleeve", "Roll Up", "Half Sleeve"];
    const cuffArray=["Single Convertible", "Double Bond"];
    const twillArray=["Regular (D)", "French", "Concealed"];
    const pocketsArray=["None", "Single Angle", "Single Flap"];
    const collarArray=["Spread Eagle (D)", "Bandhgala"];

%>

<div class="page-title-area">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="breadcrumbs-area clearfix">
                <h4 class="page-title pull-left">Virtual Fit</h4>
                <ul class="breadcrumbs pull-left">
                    <li><a href="/client/order/view">Client</a></li>
                    <li><a href="/client/order/view">Home</a></li>
                    <li><a href="/client/order/view">Preference</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 clearfix">
            <div class="user-profile pull-right">
                <h4 class="user-name dropdown-toggle" data-toggle="dropdown">Virtual Fit</h4>
            </div>
        </div>
    </div>
</div>
<!-- page title area end -->
<div class="main-content-inner">
    <div class="row">
        <div class="d-none" id="pattern"><%= pattern %></div>
        <div class="d-none" id="material"><%= material %></div>
        <div class="d-none" id="collar"><%= collar %></div>
        <div class="d-none" id="cuff"><%= cuff %></div>
        <div class="d-none" id="sleeve"><%= sleeve %></div>
        <div class="d-none" id="pockets"><%= pocket %></div>
        <div class="d-none" id="twill"><%= twill %></div>
        <div class="col-lg-8 mt-4" id="output-target">

        </div>
        <div class="col-lg-4 mt-4">
            <table class="table table-dark">
                <tr>
                    <td>Pattern</td>
                    <td><%= patternArray[pattern] %></td>
                </tr>
                <tr>
                    <td>Material</td>
                    <td><%= materialArray[material] %></td>
                </tr>
                <tr>
                    <td>Collar</td>
                    <td><%= collarArray[collar] %></td>
                </tr>
                <tr>
                    <td>Cuff</td>
                    <td><%= cuffArray[cuff] %></td>
                </tr>
                <tr>
                    <td>Sleeve</td>
                    <td><%= sleeveArray[sleeve] %></td>
                </tr>
                <tr>
                    <td>Pocket</td>
                    <td><%= pocketsArray[pocket] %></td>
                </tr>
                <tr>
                    <td>Placket</td>
                    <td><%= twillArray[twill] %></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="row text-center mt-3">
    <a href='/client/order/design' class='next-btn-link'>
        <button class="btn btn-primary btn-lg next-btn">Next  <i class='ti-arrow-right'></i></button>
    </a>
</div>
